*, html{margin:0;padding:0}
body {
font-family: 'Open Sans', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	/* font-family: 'Francois One', sans-serif; */
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	/* font-family: 'Chivo', sans-serif; */
/* 	background:#ddd;
	background-size:cover; */
	/* font-family: "Cinzel",serif; */
/* 	font-family: 'Montserrat', sans-serif; */
	background:url(../img/pet2.jpg) no-repeat fixed;
	background-size:cover;

/* 	font-family: 'Oswald', sans-serif; */

}

h1, h2, h3, h4, h5, h6 {

font-weight:normal;

}

img {max-width: 100%}

a {text-decoration:none}

a:hover {text-decoration:none}

.fix {overflow:hidden}

.structure {
	margin:45px auto;
	display:block;
	transition:all 0.6s ease 0s;
	-moz-transition:all 0.6s ease 0s;
	-webkit-transition:all 0.6s ease 0s;
	-o-transition:all 0.6s ease 0s;
	background:#032433;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
	border-radius:5px;
}
.main_main{
	margin:24px auto;
	display:block;
	transition:all 0.6s ease 0s;
	-moz-transition:all 0.6s ease 0s;
	-webkit-transition:all 0.6s ease 0s;
	-o-transition:all 0.6s ease 0s;
	background:#;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
	border-radius:5px;
	padding:20px;
}
.floatleft {float:left}
.floatright {float:right}
.form_area form{}
.form_area form input[type="text"] {
  font-size: 16px;
  line-height: 29px;
  padding-left: 7px;
  width: 36%;
}
.form_area form input[type="submit"] {
  background: #d7e6f9 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #0080ba;
  cursor: pointer;
  font-family: lato;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 8px;
  width: 36%;
}

.fotter {
  background: #130502 none repeat scroll 0 0;
  padding: 11px;
}
.fotter p {
  color: #fff;
  text-align: center;
}
.section1_area{}
.head_section{}
.head h1{
color: #6bcc0d;
font-size: 41px;
font-weight: bold;
line-height: 70px;
text-align: center;
}
.one{}
.one p{
color: #a5feff;
font-size: 18px;
line-height: 29px;
text-align: center;
}
.two{}
.two h3{
line-height: 80px;
text-align: center;
}
.two h3 a{
background: #6bcc0d none repeat scroll 0 0;
border-radius: 11px;
color: #000;
font-size: 19px;
font-weight: bold;
padding: 2% 16%;
text-transform: uppercase;
}
.head{

}
.head{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}