@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:300,400,500,600,700,800,900');

/*##### GLOBAL #####*/

.dark-primary-color    { background: #E64A19; }
.default-primary-color { background: #FF5722; }
.light-primary-color   { background: #FFCCBC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.no-margin {margin: 0px!important;}
.no-bottom-margin {margin-bottom: 0px!important;}
.no-top-margin {margin-top: 0px!important;}
.no-padding {padding: 0px!important;}
.no-bottom-padding {padding-bottom: 0px!important;}
.no-top-padding {padding-top: 0px!important;}


body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	color: #212121;
}


h1 {font-family: 'Raleway', sans-serif; letter-spacing: 6px; margin-right: -6px; font-weight: 400; text-transform: uppercase;}
h2 {font-family: 'Raleway', sans-serif; letter-spacing: 6px; margin-right: -6px; font-weight: 400; text-transform: uppercase; font-size: 32px; line-height: 40px;}
h3 {font-family: 'Raleway', sans-serif; letter-spacing: 6px; margin-right: -6px; font-weight: 400; text-transform: uppercase; font-size: 24px; line-height: 30px;} 
h4 {font-family: 'Raleway', sans-serif; letter-spacing: 6px; margin-right: -6px; font-weight: 400; text-transform: uppercase; font-size: 18px; line-height: 20px;}
h5 {font-family: 'Raleway', sans-serif; letter-spacing: 4px; margin-right: -6px; font-weight: 400; text-transform: uppercase; font-size: 16px; line-height: 20px;}

p {font-size: 16px; font-weight: 400; line-height: 28px;}

a {color: #E64A19;}
a:hover {color: #FF5722;}
 
.tabs .tab a {color: #212121;}
.tabs .tab a:hover, .tabs .tab a.active {color: #E64A19;}
.tabs .indicator {background: #E64A19;}
.tab-content {padding: 2% 0px;}

.modal {
	height: 100%;
  	max-height: 100%;
  	width:  100%;
}

.call-out {}
.section {padding: 5% 0;}
.switch {margin-bottom: 2rem;}

/*##### Header #####*/
.brand-logo {margin: 6px;}
.brand-logo img {max-height: 50px;}

/*##### Top Navigation #####*/
.top-nav {font-size: 12px; padding: 10px 0px;}
.top-nav .material-icons {font-size: 12px;}
.top-nav .row {margin: 0px;}
ul.top-nav-left {list-style-type: none; margin: 0px; padding: 0px;}
ul.top-nav-left li {display: inline-block; margin-right: 10px;}
ul.top-nav-left li a.gray {background: none; border: 1px solid #a1a1a1; color: #a1a1a1!important;}
ul.top-nav-left li a {color: #fff;}
ul.top-nav-left li a i {margin: 0px 5px;}
ul.top-nav-right {list-style-type: none; margin: 0px; padding: 0px;}
ul.top-nav-right li {display: inline-block; margin-left: 10px; position: relative; top: -4px;}
ul.top-nav-right li a {background: none; border: 1px solid #a1a1a1; border-top: none; color: #a1a1a1; text-decoration: none; padding: 6px 12px;}
ul.top-nav-right li a.green {background: #056839; border: 1px solid #056839; color: #fff!important;}
ul.top-nav-right li a:hover {background: #2c9b66!important; color: #fff!important; border: 1px solid #2c9b66; }
ul.top-nav-right li a i {margin: 0px 5px;}

ul.top-nav-left li.active {background:#e64a19; color: #fff;}

/*##### Navigation #####*/
nav ul a {color:#616161; display: inline-block;}
nav ul a:hover, .side-nav a:hover {background:#e64a19; color: #fff;}
nav ul li.active a {color: #fff;}
ul.top-nav-left li a {height: 70px;}
.filter-btn {position: relative; top: 30px;}
.dropdown-content li>a, .dropdown-content li>span {color: #212121;}
.mobile-toggle {color: #e64a19;}
.side-nav li.active {background:#E64A19;}
.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {background:#e64a19; color: #fff;}
nav ul li a.collapsible-header {color:#616161;}
nav ul li a.collapsible-header:hover, nav ul li a.collapsible-header.active {background:#e64a19; color: #fff;}
nav ul li .collapsible-body a {color:#616161;}
nav ul li .collapsible-body a:hover, nav ul li .collapsible-body a.active {background:#e64a19; color: #fff;}



#homePage #homeNavLink, #galleryPage #galleryNavLink, #amenitiesPage #amenitiesNavLink, #neighborhoodPage #neighborhoodNavLink, #contactPage #contactNavLink, #floorplansPage #floorplansNavLink, #residentsPage #fresidentsNavLink {background:#e64a19; color: #fff;}
#homePage #homeMobileNavLink, #galleryPage #galleryMobileNavLink, #amenitiesPage #amenitiesMobileNavLink, #neighborhoodPage #neighborhoodMobileNavLink, #contactPage #contactMobileNavLink, #floorplansPage #floorplansMobileNavLink, #residentsPage #fresidentsMobileNavLink {background:#e64a19; color: #fff;}


/*##### BUTTONS #####*/

.btn-block {display: block;}


/*##### TABLES #####*/
.unit-table-header {
background: #e8e8e8;
padding: 20px;
font-size: 16px;
font-weight: bold;
text-align: center;}

.unit-table-row {padding: 40px 20px 30px 20px; border-top: 1px solid #e8e8e8; transition: background-color 0.5s ease; text-align: center;}
.unit-table-row:hover {cursor: pointer; background: #f8f8f8;}
.unit-table-container span {}
.unit-btn {font-size: 14px; padding: 5px 40px; margin-top: 0px;}
.unit-btn-outline-green {font-size: 14px; padding: 5px 12px; margin-top: 5px;}
.unit-table-text {margin-top: 25px;}
.unit-table-btn {float: right; width: 200px; text-align: right; margin-bottom: 10px;}


/*##### FORMS #####*/
form {border: 1px solid #ddd; padding: 30px;}

/*##### CONTENT #####*/
.page-header {padding: 5% 0px 1% 0px;}

.pane {
	margin: 10px;
background: #fff;
    padding: 15px;
    position: relative;
    border: 1px solid #ECECEC;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

}
.page-title {padding-bottom: 10px; border-bottom: 1px solid #e0e0e0; }
.chip {font-size: 11px;}

/*##### PARALLAX #####*/
.parallax-container {height: auto}

/*##### MAPS #####*/
.map-holder {
  overflow: hidden;
  position: relative;
  padding: 15% 0;
  min-height: 300px;
}
.map-holder iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 180%;
  top: -40%;
  left: 0;
  z-index: 1;
}
.map-holder:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.map-holder.interact:before {
  width: 0;
}
.map-holder.inline {
  height: 400px;
  overflow: hidden;
}
.map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.gallery {}
.gallery .col {padding: 1px!important;}


.floorplan {border: 1px solid #ddd; padding: 2%;}

/*##### Gallery #####*/

.lightcaseboxed { display:block; position: relative; transition: opacity .4s}

/*##### FOOTER #####*/
footer.page-footer {margin-top: 0px;}
footer {font-size: 12px;}
.footer-list {font-size: 14px;}
.footer-list li {margin-bottom: 5px;}
.footer-list li img {margin-top: 10px; margin-right: 10px;}
.legal-links {margin: 0px; padding: 0px;}
.legal-links li {display: inline-block; margin-left: 5px;}

.hud-img {margin-top: 20px; margin-right: 5px;}

/*##### MEDIA QUERIES #####*/

/* Large Devices, Desktops */
@media only screen and (min-width : 993px) {

}

/* Medium Devices, Tablets */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Phones */ 
@media only screen and (max-width : 600px) {

	.brand-logo {margin: 0px;}

  .page-header {padding: 5% 0px 1% 0px;}
  .page-header h2 {letter-spacing: 3px; margin-right: -3px; font-size: 22px; line-height: 30px;}


	/*##### QUICK FILTER #####*/
	.quick-filter .col {padding: 2px;}
	.quick-filter .col:first-child {padding-left: 0.75rem; }
	.quick-filter .col:last-child {padding-right: 0.75rem; }
	.quick-filter .btn {
		padding: 2px;
		font-size: 10px;
	}

	.dashboard-card.pane {
		margin: 0px; 
		margin-top: 0px;
		-webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    -ms-border-radius: 0px;
	    -o-border-radius: 0px;
	    border-radius: 0px;
	    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0);
	    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0);
	    -ms-box-shadow: 0 0 30px 0 rgba(0,0,0,0);
	    -o-box-shadow: 0 0 30px 0 rgba(0,0,0,0);
	    box-shadow: 0 0 30px 0 rgba(0,0,0,0);
	    border: 0px;
	    border-bottom: 1px solid #ECECEC;
	}

   .tabs .tab a {font-size: 12px;}

   .unit-table-row {text-align: left;}
   .unit-table-btn {text-align: left; margin-top: 20px;}


   footer h4 {font-size: 16px;}
   


}
