@charset "UTF-8";
/* CSS Document */

body {margin:0; padding:0; font-family:Verdana, Arial, Helvetica, sans-serif;  font-size:11px;}

#sec-content2 {width:610px; float:left;}

#llc-sec-title {font-size:18px; font-weight:bold; color:#754b0e; padding:0 0 10px 0; border-bottom:solid 1px #74845d; width:610px;}

.llc-listing {padding:15px 0; width:610px; float:left; border-bottom:solid 1px #74845d;}
.llc-listing-txt {float:left; width:448px; padding:0 0 0 10px;}
.llc-listing-right {float:right; line-height:16px; width:200px;}
.llc-listing-right-txt {float:right; padding:0 6px 0 0; color:#60773e; font-weight:bold;}
.llc-listing-title {float:left; color:#60773e; font-size:14px; font-weight:bold;}
.llc-listing-br {line-height:6px;}
.llc-listing-info {float:left; width:100%; padding:10px 0 0 0;}
.llc-brown {color:#754b0e;}

#llc-map {padding:20px 0 30px 0;}

.blue {color:#5cb6cb;}
.blue14 {color:#5cb6cb; font-size:14px;}
.floatl {float:left;}
.floatr {float:right;}
.red {color:#e64453}
.red14 {color:#e64453; font-size:14px;}
.black {color:#000000;}

.llc-list-photo {
  margin: 0 0 10px 0;
  position: relative;
  width: 150px;
  height: 100px;
  text-align:center;
  overflow:hidden;
}
.llc-list-photo span {
  width: 150px;
  height: 100px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/images/listing-img.png) no-repeat;
	z-index:1000;
}