/* custom mobile styles */

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {background:#292928 !important;}

.ui-title {font-family:arial; font-size:1.3em !important}

h1 {line-height:30px;}

.home_header {
float:left; width:100%; height:60px; padding:20px 0 0 0;
background: #d3d8dc; /* Old browsers */
background: -moz-linear-gradient(top, #d3d8dc 0%, #fffaf8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d8dc), color-stop(100%,#fffaf8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d3d8dc 0%,#fffaf8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d3d8dc 0%,#fffaf8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d3d8dc 0%,#fffaf8 100%); /* IE10+ */
background: linear-gradient(to bottom, #d3d8dc 0%,#fffaf8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d8dc', endColorstr='#fffaf8',GradientType=0 ); /* IE6-9 */
}

.home_header img { max-height:50px; }

.home_banner {
float:left; width:100%; height:480px;



}

.home_brochure{
float:left;
width:100%;
text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
text-align:center;
line-height:50px;
font-size:1.6em;

height:50px;
font-style:italic;
padding:0 0 12px 0;
white-space:nowrap;
background: #ff8800; /* Old browsers */
background: -moz-linear-gradient(top,  #ff8800 0%, #db6900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8800), color-stop(100%,#db6900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff8800 0%,#db6900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff8800 0%,#db6900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff8800 0%,#db6900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff8800 0%,#db6900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8800', endColorstr='#db6900',GradientType=0 ); /* IE6-9 */
}

.home_brochure:hover {
	background:#45a7ae;
}


.home_brochure_params {
	display:block;
	color:#FFF !important;
	margin:5px;
	text-decoration:none !important;
	border:1px solid #febe76;
}


.home_button_group {
	float:left;
	width:100%;
}

.contact_button {

display:inline-block;
text-decoration:none;
/*width:calc(75% - 1px); -webkit-calc(75% - 1px); width: -moz-calc(75% - 1px);*/
width:80%;

color:#fff !important;
text-shadow: none;
font-family: arial;
font-size:1.5em;
border-right:1px solid #7df4fd;
text-align:center;
line-height:50px;
height:50px;
font-weight:bold;
background: #62def7; /* Old browsers */
background: -moz-linear-gradient(top,  #62def7 1%, #56c5d8 15%, #4cbbbf 50%, #45a7ae 51%, #3c8e96 96%, #4cb9bf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#62def7), color-stop(15%,#56c5d8), color-stop(50%,#4cbbbf), color-stop(51%,#45a7ae), color-stop(96%,#3c8e96), color-stop(100%,#4cb9bf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62def7', endColorstr='#4cb9bf',GradientType=0 ); /* IE6-9 */
}
.contact_button:hover {
background: #ffbb5b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffbb5b 1%, #ffa52f 15%, #ff7a0d 50%, #f47600 51%, #d26900 96%, #ff7e0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffbb5b), color-stop(15%,#ffa52f), color-stop(50%,#ff7a0d), color-stop(51%,#f47600), color-stop(96%,#d26900), color-stop(100%,#ff7e0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb5b', endColorstr='#ff7e0d',GradientType=0 ); /* IE6-9 */
}

.contact_button span {}

.contact_button img {
margin:-15px 15px 0 0;
}

.home_button {
float:left;
display:block;
text-decoration:none;
/*width:calc(50% - 1px); -webkit-calc(50% - 1px); width: -moz-calc(50% - 1px);*/
width:50%;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
color:#fff !important;
text-shadow: none;
font-family: arial;
font-size:1.5em;
border-right:1px solid #7df4fd;
text-align:center;
line-height:50px;
height:50px;
font-weight:bold;
background: #62def7; /* Old browsers */
background: -moz-linear-gradient(top,  #62def7 1%, #56c5d8 15%, #4cbbbf 50%, #45a7ae 51%, #3c8e96 96%, #4cb9bf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#62def7), color-stop(15%,#56c5d8), color-stop(50%,#4cbbbf), color-stop(51%,#45a7ae), color-stop(96%,#3c8e96), color-stop(100%,#4cb9bf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62def7', endColorstr='#4cb9bf',GradientType=0 ); /* IE6-9 */
}

.home_button span {}
.home_button span img {max-height:17px; margin-right:15px;}

.home_button:hover {
background: #ffbb5b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffbb5b 1%, #ffa52f 15%, #ff7a0d 50%, #f47600 51%, #d26900 96%, #ff7e0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffbb5b), color-stop(15%,#ffa52f), color-stop(50%,#ff7a0d), color-stop(51%,#f47600), color-stop(96%,#d26900), color-stop(100%,#ff7e0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb5b', endColorstr='#ff7e0d',GradientType=0 ); /* IE6-9 */
}


.top_button_group {
	float:left;
	width:100%;
}

.top_button {
float:left;
display:block;
text-decoration:none;
/*width:calc(25% - 2px); -webkit-calc(25% - 2px); width: -moz-calc(25% - 2px);*/
width:25%;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
color:#4f4f4f !important;
font-weight:normal;
text-shadow: none;
font-family: arial;
font-size:0.8em;
border-right:1px solid #999;
border-left:1px solid #CCC;
text-align:center;
padding:15px 0;
height:80px;
font-weight:bold;
background: #d9d9d9; /* Old browsers */
background: -moz-linear-gradient(top,  #d9d9d9 1%, #f7f7f7 15%, #c7c7c7 50%, #c2c2c2 51%, #a8a8a8 96%, #c7c7c7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d9d9d9), color-stop(15%,#f7f7f7), color-stop(50%,#c7c7c7), color-stop(51%,#c2c2c2), color-stop(96%,#a8a8a8), color-stop(100%,#c7c7c7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d9d9d9 1%,#f7f7f7 15%,#c7c7c7 50%,#c2c2c2 51%,#a8a8a8 96%,#c7c7c7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d9d9d9 1%,#f7f7f7 15%,#c7c7c7 50%,#c2c2c2 51%,#a8a8a8 96%,#c7c7c7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d9d9d9 1%,#f7f7f7 15%,#c7c7c7 50%,#c2c2c2 51%,#a8a8a8 96%,#c7c7c7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d9d9d9 1%,#f7f7f7 15%,#c7c7c7 50%,#c2c2c2 51%,#a8a8a8 96%,#c7c7c7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */
}

.top_button:hover {
background: #ffbb5b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffbb5b 1%, #ffa52f 15%, #ff7a0d 50%, #f47600 51%, #d26900 96%, #ff7e0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffbb5b), color-stop(15%,#ffa52f), color-stop(50%,#ff7a0d), color-stop(51%,#f47600), color-stop(96%,#d26900), color-stop(100%,#ff7e0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb5b', endColorstr='#ff7e0d',GradientType=0 ); /* IE6-9 */
}

.top_icon {height:30px;}
.top_button img { clear:both;}
.top_button span { clear:both; width:100%;}

.ui-jsp-footer { float:left; width:100%; height:100px; padding:10px 0 20px 0; text-align:center; border-top:1px solid #3e3e3e; color:#FFF}

.ui-jsp-footer-info { font-size:14px; line-height:22px; color:#dedede; text-shadow: none !important}
.ui-jsp-footer-divider { width:95%; margin:7px 15px 7px 15px; height:2px; background: #878c8f;}
.ui-jsp-footer-links { font-size:14px; line-height:22px; color:#dedede; text-shadow: none !important}
.ui-jsp-footer-inner {margin: 0 20px 0 45px;}
.ui-jsp-footer-links a { font-size:14px !important; line-height:22px !important; color:#ff8800 !important; font-weight:normal !important; text-decoration:none !important;}
.ui-jsp-footer-links a:hover { color:#45a7ae !important;}
.ui-jsp-equal-shell {float:left;}
.ui-jsp-equal {height:30px; margin:0 0 0 15px;}


.floorplan_row {float:left; width:100%; background:#ededed; display:table; border-bottom:2px solid #ccc;}
.floorplan_item {float:left; display:table-cell;
 /* width:calc(50% - 2px); -webkit-calc(50% - 2px); width: -moz-calc(50% - 2px); */
 width:50%;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
border-right:2px solid #ccc; }

.floorplan_inner {text-align:center; padding:20px; background:#fff;}
.floorplan_inner img { max-height:275px; }
.floorplan_info {width:100%;}
.floorplan_info_inner {padding:2px 10px;}
.floorplan_name {font-size:13px;}
.floorplan_spec {font-size:11px;}
.floorplan_price {font-size:18px; color:#ff8800;}

.floorplan_download_button {
float:left;
display:block;
text-decoration:none;
width:100%;
color:#fff !important;
text-shadow: none;
font-family: arial;
font-size:0.8em;
border-right:1px solid #7df4fd;
text-align:center;
line-height:15px;
height:15px;
padding:5px 0;
font-weight:bold;
background: #62def7; /* Old browsers */
background: -moz-linear-gradient(top,  #62def7 1%, #56c5d8 15%, #4cbbbf 50%, #45a7ae 51%, #3c8e96 96%, #4cb9bf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#62def7), color-stop(15%,#56c5d8), color-stop(50%,#4cbbbf), color-stop(51%,#45a7ae), color-stop(96%,#3c8e96), color-stop(100%,#4cb9bf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #62def7 1%,#56c5d8 15%,#4cbbbf 50%,#45a7ae 51%,#3c8e96 96%,#4cb9bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62def7', endColorstr='#4cb9bf',GradientType=0 ); /* IE6-9 */
}

.floorplan_visit_button {
float:left;
display:block;
text-decoration:none;
width:100%;
color:#fff !important;
text-shadow: none;
font-family: arial;
font-size:0.8em;
border-right:1px solid #7df4fd;
text-align:center;
line-height:15px;
height:15px;
padding:5px 0;
font-weight:bold;
background: #ffbb5b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffbb5b 1%, #ffa52f 15%, #ff7a0d 50%, #f47600 51%, #d26900 96%, #ff7e0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffbb5b), color-stop(15%,#ffa52f), color-stop(50%,#ff7a0d), color-stop(51%,#f47600), color-stop(96%,#d26900), color-stop(100%,#ff7e0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffbb5b 1%,#ffa52f 15%,#ff7a0d 50%,#f47600 51%,#d26900 96%,#ff7e0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb5b', endColorstr='#ff7e0d',GradientType=0 ); /* IE6-9 */
}


.gallery-container {float:left; width:100%;}
.gallery-item {float:left;
/* width:calc(50% - 2px); -webkit-calc(50% - 2px); width: -moz-calc(50% - 2px); */
width:50%;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
height:400px; border-right:2px solid #ccc;border-bottom:2px solid #ccc; overflow:hidden; background:#ededed; }

.gallery-item img {width:100%; height:100%;}


.amenities_title {width:100%;  text-align:left; height:90px; padding:0 0 0 20px; font-family:Arial; font-size:22px; line-height:140px; font-weight:bold; color:#fff; text-shadow: 3px /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 3px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;}
.amenities_title span {font-size:20px; font-family:georgia; font-style:italic; font-weight:normal;}
.amenities_inner_sub{}
.amenities_desc{}

.amenities_desc ul { margin:20px 0px 0px 20px; padding:0px; }
.amenities_desc ul li{ font-size:13px; padding:0 0 10px 0; list-style:none; color:#7c7c7c}

em { color: red; font-weight: bold; padding-right: .25em; }

label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}



@media only screen and (max-width:850px){
	.gallery-item { height:350px;}
}

@media only screen and (max-width:750px){
	.gallery-item { height:300px;}
}

@media only screen and (max-width:650px){
	.gallery-item { height:250px;}
}

@media only screen and (max-width:500px){
	.home_banner {height:480px;}
	.home_brochure {font-size:1.4em}
	.home_button {font-size:1.2em}
	.ui-jsp-footer-info { font-size:14px; line-height:22px; }
	.ui-jsp-footer-links { font-size:14px; line-height:22px;}
	.ui-jsp-footer-links a { font-size:14px !important; line-height:22px !important; }
	.floorplan_inner img { max-height:275px; }
	.gallery-item { height:225px;}
}

@media only screen and (max-width:470px){
	.floorplan_inner img { max-height:175px; }
	.gallery-item { height:150px;}
}

@media only screen and (max-width:375px){
	.home_banner {height:320px; background-size: auto;}
	.home_brochure {font-size:1.2em;}
	.home_button {font-size:1.0em}
	.ui-jsp-footer-info { font-size:12px; line-height:18px; }
	.ui-jsp-footer-links { font-size:12px; line-height:18px;}
	.ui-jsp-footer-links a { font-size:12px !important; line-height:18px !important; }
	.gallery-item { height:125px;}
}

@media only screen and (max-width:320px){
	.home_banner {height:270px; background-size: auto;}
	.home_brochure {font-size:1.0em;}
	.home_button {font-size:.8em; height:35px; line-height:35px; border-top:1px solid #7df4fd;}
	.ui-jsp-footer-info { font-size:11px; line-height:14px;}
	.ui-jsp-footer-links { font-size:11px; line-height:14px;}
	.ui-jsp-footer-links a { font-size:11px !important; line-height:14px !important; }
	.top_button {font-size:10px;}
	.floorplan_inner img { max-height:155px; }
	.gallery-item { height:100px;}
}

@media only screen and (max-width:300px){
	.home_button {font-size:.8em; width:100%; height:35px; line-height:35px; border-top:1px solid #7df4fd; border-right:none !important;}
	.floorplan_inner img { max-height:75px; }
	.gallery-item { height:65px;}
}