<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>IP Echo Service - What is my IP Address?</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="IP, What, IP, Address, External, What Is My IP">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <main>
    	<div class="content" style="text-align: center; ">
    		<h1>Your IP is 67.137.127.225</h1>

    		<br>

    		If you're looking for your local IP address, then you probably need to visit <a href="/localip">this page</a>.<br>
    		On <a href="/extra">this page</a> you can find out what the server knows about you.<br>
    		<br>
    		Developers should click <a href="/developers">here</a>.

    		<br><br><br>

    		<!-- FB Button -->
    		<div id="fb-root"></div>
    		<script>(function(d, s, id) {
    		  var js, fjs = d.getElementsByTagName(s)[0];
    		  if (d.getElementById(id)) return;
    		  js = d.createElement(s); js.id = id;
    		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    		  fjs.parentNode.insertBefore(js, fjs);
    		}(document, 'script', 'facebook-jssdk'));</script>

    		<div class="fb-like" data-href="http://ipecho.net/" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false"></div>
    	</div>

		<div style="text-align: center; margin-top: 100px; margin-bottom: 25px; ">
		    Like this service? Buy a VPN from these guys (<a href="https://www.privateinternetaccess.com/pages/buy-vpn/ipecho">PrivateInternetAccess.com</a>) to support IP Echo.<br>
		    <a href='https://www.privateinternetaccess.com/pages/buy-vpn/ipecho' title='Buy VPN'>
		        <img alt='Buy VPN' border='0' src='/images/Day3-bottomv2.jpg' id="pia_large">
		        <img alt='Buy VPN' border='0' src='/images/no_logs_small.png' id="pia_small">
		    </a>
		</div>
    </main>


	<!-- Analytics Code -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30721559-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>
