#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color:#ffffff; width: 200px; height: 40px; margin: 0 auto; }
#imageContainer{ }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }

#hoverNav{float:left; height:48px; text-align:center;  z-index: 10;}
#hoverNav a{ outline: none;}
#prevLink, #nextLink{ width: 40px; height: 30px; background-color:#FFFFFF; display: block; background-color:#ffffff; }
#prevLink { float: left; background: url(../images/lightbox/prevlabel.gif) left center no-repeat;}
#nextLink { float: right; background: url(../images/lightbox/nextlabel.gif) right center no-repeat;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/lightbox/prevlabel2.gif) left center no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/lightbox/nextlabel2.gif) right center no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 4px auto; line-height: 14px; overflow: auto; width: 100%; }

#imageData{	padding:0; color: #666; text-align:center; width:100%;}
#imageData #imageDetails{ float: left; text-align: left; padding:10px 0 0 9px; background:url(../images/lightbox/lightbox-left.jpg) top left no-repeat;}	
#imageData #caption{ font-weight: bold;	padding:10px 0 0 0;}
#imageData #numberDisplay{ display: block; clear: left; padding:0 0 10px 0;	}		
#imageData #bottomNav {float:right; width:126px; padding:0 9px 0 0; height:48px; background:url(../images/lightbox/lightbox-right.jpg) top right no-repeat;}	
#imageData #bottomNavClose{ width: 40px; float: right; outline: none; height:48px; margin:0 0 0 0; text-align:right; background:url(../images/lightbox/closelabel.gif) center left no-repeat;}
#imageData #bottomNavClose:hover, #imageData #bottomNavClose:visited:hover {background:url(../images/lightbox/closelabel2.gif) center left no-repeat;}

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
